.registraion-wrapper{
    color: black;
    margin: 2%;
    border: 1px solid #bebebe;
    border-radius: 3px;
    background: white;
    h3{
    text-align: left;
    font-weight: 100;
    padding-left: 4vw;
}
    .form-wrapper{
    padding: 0 4vw;
    
    .input-wrapper{
        width: 100%;
        text-align: left;
        label{
            color: #707070;
        }
        .formLabel{
            color: #707070;
        }
        .MuiInput-underline:hover:not(.Mui-disabled):before {
            border-bottom: 1px solid green;
        } 
        .myclass{
            border-color: red !important;
        }
    }
   
    .textarea-wrapper {
        width: 100%;
        padding-top: 2vh;
        text-align: left;
    }
    .button-class{ 
        float: left;
        margin: 2%;    
        border-radius: 0.625rem 0 0.625rem 0.625rem;
        padding: 0.5375rem 1.5rem 0.5375rem;
        border-radius: 0.625rem 0 0.625rem 0.625rem;
        color: #ffffff;
        border-color: #68bc29;
        background-color: #68bc29;
        box-shadow: 0 2px 1.25rem -6px #68bc29;
        width: 12%;
        margin-left: 0;
        font-size: 16px;
    }
}
}