.Footer{
    width: 100%;
    display: flex;
    padding: 1%;
    background: #68bc29;
    .logo{
        border-radius: 35%;
        height: 25px;
        width: 25px; 
        border: 1px solid white;
        background: #e7efe3; 
        padding: 1vw;
        margin-left: 90%;
    } 
} 